body {

}

main {
    display: flex;
}

h1 {
    font-family: sans-serif;
    color: darkgreen;
}

img {
    width: 100vw;
}


button {
    height: 100vh;
    background-color: white;
    border: none;
}

button img {
    width: 50px;
}

.hidden {
    display: none;
}

.display {
    display: block;
}



