@font-face {
    font-family: 'SlideShow';
    src: url('../opdracht1/fonts/SCRIPTIN.eot');
    src: url('../opdracht1/fonts/SCRIPTIN.eot?#iefix') format('embedded-opentype'),
    url('../opdracht1/fonts/SCRIPTIN.woff') format('woff'),
    url('../opdracht1/fonts/SCRIPTIN.ttf') format('truetype');
}

@font-face {
    font-family: 'Datum';
    src: url('../opdracht1/fonts/Yumaro.eot');
    src: url('../opdracht1/fonts/Yumaro.eot?#iefix') format('embedded-opentype'),
    url('../opdracht1/fonts/Yumaro.woff') format('woff'),
    url('../opdracht1/fonts/Yumaro.ttf') format('truetype');
}

body {
    background-color: lightgrey;
    position: relative;
    margin: 0;
}

main {
    display: flex;
}


h1 {
    font-family: 'SlideShow', sans-serif ;
    font-size: 4em;
    color: black;
    position: absolute;
    margin-top: -0.5em;
    margin-left: 1.5em;
}

h2 {
    font-family: 'Datum', sans-serif ;
    font-size: 1em;
    color: black;
    position: absolute;
    margin-top: 6.5em;
    margin-left: 10em;
}

img {
    width: 100vw;
}


button {
    height: 100vh;
    background-color: darkolivegreen;
    border: none;
    display: inline;
}

button img {
    width: 50px;
    display: inline;
}

.hidden {
    display: none;
}

.display {
    display: inline;
}



